@font-face {
  font-family: 'MyFont';
  src: url('./my-font.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.hello {
  color: blue;
  font-size: 2rem;
  font-family: 'MyFont', cursive;
  background: url('./image.jpg');
}
